// here we configure step1 of a {{ name }} amd64 box installation
{
    "variables": {
        "name": "{{ name }}",
        "step_name": "step1",
        "preseed_name": "{{ preseed_name }}",

        "iso_url": "{{ iso_url }}",
        "iso_checksum": "{{ iso_checksum }}",

        // cpu count
        "cpu_count": "{{ cpu_count }}",
        // ram and disk size in megabytes
        "ram_size": "{{ ram_size }}",
        "disk_size": "{{ disk_size }}"
    },

    "builders": [
        {
            // use vmware builder, start from iso image
            "type": "vmware-iso",

            "vmx_data": {
                "memsize": "{{ '{{' }} user `ram_size` }}",
                "numvcpus": "{{ '{{' }} user `cpu_count` }}",

                // this sounds a bit strange, but it seems that this
                // "quicker" time sync is needed for some remote builds.
                "tools.synctime": "TRUE",
                "tools.synctime.period": "5"
            },

            "disk_size": "{{ '{{' }} user `disk_size` }}",

            // show the vmware gui when installing
            "headless": false,

            // vagrant credentials
            "ssh_username": "vagrant",
            "ssh_password": "vagrant",
            "ssh_wait_timeout": "10m",

            // install from this iso image
            "iso_url": "{{ '{{' }} user `iso_url` }}",
            "iso_checksum_type": "sha256",
            "iso_checksum": "{{ '{{' }} user `iso_checksum` }}",

            // put the final image here
            "output_directory": "build/output/{{ '{{' }} user `name` }}-{{ '{{' }} user `step_name` }}",

            // start http server from this directory, needed for preseed files
            "http_directory": "http_dir",
            "http_port_min": "9001",
            "http_port_max": "9010",

            // wait for boot prompt
            "boot_wait": "5s",

            // boot command for preseed-based auto install
            "boot_command": {{ boot_command }},

            // graceful shutdown command
            "shutdown_command": "echo 'vagrant'|sudo -S /sbin/shutdown -hP now"
        }
    ],

    "post-processors": [
        {
            "type": "vagrant",
            "output": "build/boxes/{{ '{{' }} user `name` }}-{{ '{{' }} user `step_name` }}.box",
            "keep_input_artifact": true
        }
    ]
}
